.signature-pad {
  position: absolute;
  left: 0;
  top: 0;
  width: 280px;
  height: 280px;
}

.wrapper {
  position: relative;
  background: white;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}